/* Font import from Google Fonts (Work Sans) */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Setting variable & common parameters */
:root {
  --primary-color: #ff900e;
  --dark-01-color: #131313;
  --dark-02-color: #424242;
  --dark-03-color: #727272;
  --white-color: #fff;
  --footer-background: #fff4e7;
}

body {
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  position: relative;
}

/* Style for Header Group */
header {
  background: #ff900e1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
h2.site-title {
  color: var(--dark-01-color);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
.menu-links {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.menu-links a {
  text-decoration: none;
  color: var(--dark-02-color);
  font-size: 18px;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1.banner-heading {
  color: var(--dark-01-color);
  margin-top: 116px;
  width: 862px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}
.banner-summary {
  color: var(--dark-03-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 32px;
  width: 868px;
}
.primary-button {
  color: var(--white-color);
  background-color: var(--primary-color);
  width: 180px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.banner img {
  border-radius: 8px;
  margin-top: 52px;
  margin-bottom: 45px;
  width: 1440px;
  height: 700px;
}

/* Quick Feature section style */
.features {
  margin: 0;
  margin-top: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-images img {
  width: 342px;
  height: 342px;
}
.feature-highlight {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.feature-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  width: 468px;
  height: 106px;
  color: var(--dark-03-color);
}
.feature-title .part-one {
  font-weight: 700;
  color: var(--dark-01-color);
}
.feature-title .part-two {
  font-weight: 700;
  color: var(--primary-color);
}
.feature-summary {
  width: 537px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-03-color);
}
/* Highted Feature Style */
.top-features {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}
.highligh-feature-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  width: 468px;
  height: 106px;
  border-left: 5px solid var(--primary-color);
  padding-left: 21px;
}
.highlight-feature-summary {
  width: 586px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-03-color);
}
.list {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.list h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--dark-01-color);
  width: 252px;
  height: 23px;
  margin: 0;
}
.list p {
  width: 514px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-03-color);
  margin-top: 0;
  padding-top: 10px;
}
/* 10 years + experience box overlay */
.img-container {
  position: relative;
  width: 800px;
  height: 1059px;
}
.img-container > img {
  width: 708px;
  height: 982px;
  position: absolute;
  top: 0;
  right: 0;
}
.tenyr-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 342px;
  height: 200px;
  color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
  margin: 0;
}
.tenyr-box > h1 {
  margin: 0%;
  padding: 0;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
}
.tenyr-box > p {
  margin: 0%;
  padding-top: -20%;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}

/* Some facts with a widget styles */
.some-facts {
  margin-top: 130px;
  position: relative;
}
.facts-text {
  position: relative;
  width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.facts-title {
  width: 258px;
  height: 53px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-01-color);
}
.facts-summary {
  width: 542px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 100px;
}
.facts-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.fact-box {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  width: 242px;
  height: 242px;
  font-weight: 600;
  transition: border-radius 2s, transform 2s;
}
.fact-box:hover {
    transform: rotate(10deg);
    border-radius: 50%;
}

h2.num {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-02-color);
}
p.term {
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  color: var(--dark-03-color);
}
/* Sponsors section and their logos - Style */
.sponsor {
  margin: 0;
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.sponsor-title {
  width: 327px;
  height: 53px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-01-color);
  margin: 0;
}
.sponsor-summary,
.subscribe-summary {
  margin: 24px;
  width: 542px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-03-color);
}
.sponsor-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 155px;
}
.sponsor-logo img {
  width: 165px;
  height: 50px;
  filter: grayscale(100%);
}
/* New - Subscribe Styles */
.subscribe {
  margin: 0;
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.subscribe i {
  font-size: 78px;
  color: var(--primary-color);
}
.subscribe input {
  width: 380px;
  height: 64px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}
.subscribe-title {
  height: 53px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-01-color);
  margin: 0;
}
/* footer stlye */
footer {
  width: 1440px;
  height: 100px;
  background-color: var(--footer-background);
  display: block;
  margin-top: 130px;
  margin-bottom: 216px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer > p {
  padding: 39px;
}
/* Responsive Styles for Mobile Devices */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    width: 100%;
  }
  .menu-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1.banner-heading {
    margin-top: 60px;
    width: 100%;
    font-size: 38px;
    line-height: 40px;
  }
  .banner-summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 10px;
    width: 350px;
  }
  h2.site-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 10px;
  }
  .banner img {
    border-radius: 8px;
    margin-top: 52px;
    margin-bottom: 45px;
    width: 350px;
    height: auto;
  }
  /* Quick Feature section style */
  .features {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .team-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .feature-title {
    font-size: 30px;
    width: 90%;
    margin-left: 10px;
  }
  .feature-summary {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .mb-button {
    margin-left: 10px;
  }
  /* Highted Feature Style */
  .top-features {
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
  }
  .highligh-feature-title {
    font-size: 30px;
    width: 350px;
    border-left: 5px solid var(--primary-color);
    padding-left: 15px;
  }
  .highlight-feature-summary {
    width: 350px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .list {
    padding: 10px;
  }
  .list h3 {
    width: 252px;
    height: 23px;
    margin: 0;
  }
  .list p {
    width: 95%;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-03-color);
    margin-top: 0;
    padding-top: 10px;
  }
  /* 10 years + experience box overlay */
  .img-container {
    display: none;
  }
  .mb-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    width: 350px;
  }
  .mb-ten {
    position: absolute;
    bottom: 10%;
    left: 0%;
  }


  /* Some facts with a widget styles */
  .some-facts {
    margin-top: 30px;
  }
  .facts-text {
    width: 350px;
  }
  .facts-title {
    font-size: 30px;
  }
  .facts-summary {
    width: 350px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 70px;
  }
  .facts-widget {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  /* Sponsors section and their logos - Style */
.sponsor {
    margin-top: 30px;
  }
  .sponsor-title {
    font-size: 30px;
  }
  .sponsor-summary,
  .subscribe-summary {
    margin: 10px;
    width: 350px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .sponsor-logo {
    flex-direction: column;
    gap: 25px;
  }

  /* New - Subscribe Styles */
  .subscribe {
    margin-top: 80px;
    gap: 10px;
  }
  .subscribe i {
    font-size:70px;
  }
  .subscribe input {
    width: 360px;
  }
  .subscribe-title {
    font-size: 30px;
  }
  .sb-button {
    margin-top: 10px;
  }
  /* footer stlye */
  footer {
    width: 90%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
